fastapi
uvicorn
pydantic
pytest
python-dotenv
openai
httpx 
pinecone
openai
fastmcp
SQLAlchemy
aiomysql
python-dotenv 
greenlet
gspread

google-auth
mysql-connector-python
aiosqlite
pytest-asyncio
pytest-mock
qdrant-client